
<style>
   a img,
    img {
      outline: none;
      border: none;
    }

    /* Main Content */

    #content {
      margin: 15px 0 30px 0;
    }

    #content label {
      font-weight: normal;
    }

    @media (max-width: 767.98px) {
      ul.nav-inline li {
        display: block;
      }
    }

    #brand-bar {
      font-family: "Cabin", sans-serif;
      color: #fff;
      font-size: 15px;
      padding: 10px;
      background-color: #00529F;
      font-weight: 400;
      height: 40px;
    }

    #brand-bar a {
      font-weight: 400 !important;
      color: #fff;
      text-decoration: none;
      border-bottom: 0;
    }

    #brand-bar a:focus,
    #brand-bar a:active {
      outline: thin dotted white;
    }

    #brand-bar a:hover,
    #brand-bar a:focus {
      color: #fff;
      text-decoration: underline;
    }


    #header {
      padding: 20px 0;
      background: #fff;
	  border-bottom: 1px solid #aeacac;
    }

    #header .site-logo {
      display: table-cell;
      vertical-align: bottom;
      margin: 0 10px 0 0;
      padding: 0 10px 0 0;
      border-right: 1px solid #2E2D29;
      width: 190px;
    }

    #header .site-logo img,
    #header .site-logo svg {
      width: 180px;
      height: 41px;
    }

    @media (max-width: 767.98px) {
      #header .site-logo {
        padding: 0 5px 0 0;
        width: 124px;
      }

      #header .site-logo img,
      #header .site-logo svg {
        width: 120px;
        height: 26px;
        vertical-align: bottom;
      }
    }

    #header .site-name {
      display: table-cell;
      vertical-align: bottom;
      font-size: 31px;
      font-family: "Cabin", sans-serif;
      padding: 0 0 2px 10px;
    }

    #header .site-name,
    #header .site-name a {
      letter-spacing: -0.02em;
      font-weight: 400;
      border: none;
      color: #00529F !important;
    }

    @media (max-width: 767.98px) {
      #header .site-name {
        font-size: 24px;
        line-height: 1.2em;
        padding: 0 0 0 5px;
      }

      #header .site-name a {
        display: block;
        margin-bottom: -4px;
      }
    }

    #header .site-slogan {
      font-size: 20px;
      line-height: 42px;
      font-style: italic;
      font-family: "Cabin", sans-serif;
    }

    /* Navbar */

    .navbar {
      background-color: transparent;
      background-image: none;
      background-repeat: no-repeat;
      border: none;
      border-radius: 0;
      box-shadow: none;
      min-height: 0;
      padding: 0;
      margin-bottom: 0;
      position: relative;
    }

    .navbar-brand img {
      height: 25px;
      width: auto;
      border: 0;
    }

    .navbar-light .navbar-nav .nav-link {
      color: #2e2d29;
      padding: 10px 0;
    }

    .navbar-light .navbar-nav .nav-link:focus,
    .navbar-light .navbar-nav .nav-link:hover {
      border-bottom: 2px solid #2e2d29;
      color: #000;
    }

    @media (min-width: 768px) {
      .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
      }
    }

    @media (min-width: 768px) {
      .navbar .navbar-nav>li {
        margin-left: 2rem;
      }
    }

    .navbar .navbar-nav>li>a {
      border: none;
      text-transform: uppercase;
      color: #2e2d29;
      font-weight: 600;
      padding: 4px 0;
      border-bottom: 2px solid transparent;
    }

    @media (max-width: 767.98px) {
      .navbar .navbar-nav {
        margin-top: 1rem;
      }
    }

    .navbar-toggler {
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid rgba(0, 0, 0, 0);
      border-radius: 4px;
      float: left;
      margin: 8px 15px 8px 0;
      padding: 7px 10px;
      position: relative;
    }

    @media (max-width: 767.98px) {
      .navbar-toggler {
        position: absolute;
        top: -15px;
        right: 0;
        margin-right: 0;
      }
    }

    .navbar .navbar-collapse {
      border-color: transparent;
      padding: 0;
    }

    a.dropdown-item {
      border: 0;
      color: rgba(0, 0, 0, 0.9);
    }

    a.dropdown-item:focus,
    a.dropdown-item:hover {
      text-decoration: none;
      background: rgba(218, 215, 203, 0.5);
      color: #8c1515;
      border: 0;
    }

    /* Global Footer */

    #global-footer {
      font-family: "Cabin", sans-serif;
      padding: 20px 0;
      background-color: #00529F;
      color: #fff;
      font-size: 15px;
      line-height: 2em;
      width: auto;
    }

    #global-footer a {
      font-weight: 400;
      color: #fff;
      text-decoration: none;
      border-bottom: 0;
    }

    #global-footer a:hover,
    #global-footer a:focus {
      color: #fff;
      text-decoration: underline;
    }

    @media (min-width: 768px) and (max-width: 991.98px) {

      #global-footer,
      #global-footer .container {
        height: auto;
        text-align: center;
      }
    }

    @media (max-width: 767.98px) {

      #global-footer,
      #global-footer .container {
        height: auto;
        text-align: center;
      }


    }

    /* ----- Sticky Global Footer --------------- */

    #page-wrapper {
      display: flex;
      height: 100vh;
      flex-direction: column;
    }

    #page {
      flex: 1 0 auto;
    }

    #brand-bar,
    #footer,
    #global-footer {
      flex-shrink: 0;
    }

    /* Style for footer social media icons */

    #global-footer .fa {
      color: #00529f;
      font-size: 150%;
      padding: 5px;
      border-radius: 10%;
      width: 35px;
      background-color: #F5F5F5;
      display: inline block;
      text-align: center;
    }

    #global-footer .fa-facebook:hover {
      text-decoration: none;
      background: #3B5998;
      color: white;
    }

    #global-footer .fa-twitter:hover {
      text-decoration: none;
      color: #55ACEE;
    }

    #global-footer .fa-instagram:hover {
      text-decoration: none;
      color: #E1306C;
    }

    #global-footer .fa-linkedin:hover {
      text-decoration: none;
      background: #007bb5;
      color: white;
    }

    #global-footer .fa-youtube-play:hover {
      text-decoration: none;
      color: #FF0000;
    }

    .footer-copyright {
      background-color: #ddd;
      text-align: center;
    }

    .footer-copyright a {
      color: #00529f;
      padding: 5px 10px;
      display: inline-block;
    }

 /* Footer Buttons (btn-blackhawk)*/
    
    .btn-blackhawk {
      border: none;
      color: white;
      background-color: #056ccd;
      padding: 5px 10px;
      cursor: pointer;
      text-align: center;
      border-radius: 4px;
      text-decoration: none;
    }

    .btn-blackhawk a {
      color: white;
      text-decoration: none;
    }
    
    .btn-blackhawk:hover {
      color: white;
      background: #003566;
    }
    
    /* General */

    a {
      color: #006CB8;
    }

    a:hover {
      color: #00548f;
    }

    p {
      margin: 0 0 1em;
    }

    h1,
    h2,
    h3 {
      font-family: "Cabin", sans-serif;
      text-rendering: optimizelegibility;
      font-weight: 400;
      color: #8c1515;
    }

    h1 {
      font-size: 36px;
      line-height: 1em;
      margin: 0 0 30px;
      padding: 0;
    }

    h2 {
      margin: 1.4em 0 12px;
      padding: 0;
      font-size: 22px;
      font-weight: 600;
      text-transform: none;
      line-height: 1.2em;
      letter-spacing: 0.02em;
    }

    h3 {
      color: #3f3c30;
      font-size: 18px;
      letter-spacing: 0.01em;
      text-transform: none;
      margin: 0 0 0.3em;
      font-weight: 600;
    }


    /* Landing Page Content */

    #content {
      padding: 15vh 0 50px 0;
      text-align: center;
      color: #fff;
      font-size: 40px;
      line-height: 1.25em;
      font-weight: 300;
    }

    @media (max-width: 575.98px) {
      #content {
        padding: 50px 25px 50px 25px;
        font-size: 32px;
      }
    }

    #content p {
      margin: 0 0 20px 0;
    }

    #content p.description {
      text-shadow: 1px 1px #333;
      margin-bottom: 1em;
    }

    .btn-lg {
      font-size: 24px;
      font-weight: 300;
    }
</style>